/* DIV */
.overall {
    display: grid;
    height: 1000px;
    grid-template-columns: 1fr 1fr 1fr;
}
.left {
    background: green;
    width: 100%;
    height: 100%;
}

.center {
    background: red;
}

.right {
    background: blue;
}

.footer {
    height: 100px;
    width: 100%;
}
