SUPABASEPASS = "YOUR_SUPABASE_DB_PASSWORD"
DATABASE = "YOUR_SUPABASE_PROJECT_ID"
REGION = "YOUR_AWS_REGION"
REDIRECT_URL = "http://localhost:8080/callback"
FRONTEND_URL = "http://localhost:5173"
CLIENTID = "YOUR_GOOGLE_OAUTH_CLIENT_ID"
CLIENTSECRET = "YOUR_GOOGLE_OAUTH_CLIENT_SECRET"
